@import './variables';

$transition: .35s all ease;

.place {
    background-color: #f2f2f2;

    &__destination {
        cursor: pointer;
    }

    &__card {
        overflow: hidden;

        &--body {
            background-color: white;
            position: relative;
            z-index: 2;
        }
    }

    &__name a {
        font-family: $font-title;
    }

    &__link-img {
        position: relative;

        &--is-premium {

            &::before {
                content: 'PREMIUM';
                background-color: $yellow;
                border-radius: 15rem;
                color: #fff;
                font-size: .9em;
                font-weight: bold;
                padding: .3em 1em;
                position: absolute;
                left: 1em;
                top: 1em;
                z-index: 3;
            }
        }
    }

    &__img {
        object-fit: cover;
        height: 190px;
        transition: $transition;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__text-truncate {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}

