@import './variables';

.intro {

    &__btn {
        font-size: 1.1rem;
        padding: .5em 1.2em;
    }

    &__carousel {

        &-item {
            pointer-events: none;

            &:first-child .intro__caption {
                background-image: url('/images/bg-2.jpg');
            }

            &:last-child .intro__caption {
                background-image: url('/images/bg-1.jpg');
            }
        }
    }

    &__caption {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        height: 600px;
        padding-top: 7rem;

        &:before {
            background-color: rgba(0,0,0,.75);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &-text {
            margin-top: 8rem;
            position: relative;
            z-index: 200;

            @media only screen and (max-width: 500px) {
                margin-top: 1rem;
            }
        }
    }

    h1,h2 {
        font-size: 3.5rem;
        @media only screen and (max-width: 400px) {
            font-size: 13vw;
        }
    }

    &__description {
        font-size: 1.4rem;
    }

    button {
        font-weight: bold;
        text-transform: uppercase;
        pointer-events: all;
        position: relative;
        z-index: 900;
    }
}
