@import './variables';

.intro {

    &__carousel {
        
        &-item {
            &:first-child .intro__caption {
                background-image: url('/images/bg-1.webp');
            }

            &:last-child .intro__caption {
                background-image: url('/images/bg-2.webp');
            }
        }
    }

    &__caption {
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        padding: 7rem 2rem;
        text-align: center;
    }

    &__description {
        font-size: 1.1em;
        margin: auto;
    }
}

/*
.header {
    // padding-top: 1.5rem;
    // position: relative;

    // &::before {
    //     background-image: url('/images/bg-2.webp');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: -2;
    // }

    &__carousel {
        &-item {
            padding: 4rem 2rem;
            text-align: center;
        }
    }

    &__bg {

        &::before {
            background-color: rgba(0,0,0,.2);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
    }

    &__img {
    }

    &__caption {
    }

    &--home {
        .navbar {

            &-toggler {
                border: none;
                outline: none;

                &-icon {
                    background-image: url('/icons/menu.svg');
                }
            }
        }

        .nav-link {
            color: #f2f2f2 !important;
            margin-right: 1rem;

            &:last-child { margin-right: 0; }

            &:hover {
                opacity: .5;
                transition: .3s all;
            }
        }

        .active {
            color: #fff !important;
            border-bottom: 2px solid #fff;
        }
    }
}

.intro {
    padding: 8rem 0px;

    h1 {
        font-size: 3rem;
        text-shadow: 3px 3px 6px rgba(0,0,0,.3);
    }

    &__description {
        font-size: 1.4rem;
    }

    button {
        font-weight: bold;
        text-transform: uppercase;
    }
}
*/
