@import './variables';

$transition: .35s all ease;

.description { max-width: 600px; }

.intro {

    &__carousel {
        
        &-item {

            &:first-child .intro__caption {
                background-image: url('/images/bg-2.webp');
            }

            &:last-child .intro__caption {
                background-image: url('/images/bg-1.webp');
            }
        }
    }

    &__caption {
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        padding: 7rem 2rem;
        text-align: center;
        padding: 13rem 0px 10rem 0px;
        position: relative;
        z-index: -2;

        &:before {
            background-color: rgba(0,0,0,.2);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    h1 {
        font-size: 3rem;
        text-shadow: 3px 3px 6px rgba(0,0,0,.3);
    }

    &__description {
        font-size: 1.4rem;
    }

    button {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.place {
    background-color: #f2f2f2;

    &__destination {
        cursor: pointer;
    }

    &__card {
        overflow: hidden;

        &--body {
            background-color: white;
            position: relative;
            z-index: 2;
        }
    }

    &__name a {
        font-family: $font-title;
    }

    &__img {
        object-fit: cover;
        height: 260px;
        transition: $transition;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.concultation {
    display: block;
    position: relative;
    padding-top: 15rem;
    padding-bottom: 15rem;

    &::before {
        background-image: url('/images/bg-1.webp');
        background-size: cover;
        background-position: center;
        content: '';
        z-index: -2;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &::after {
        background-color: black;
        content: '';
        height: 100%;
        opacity: .1;
        width: 100%;
        z-index: -1;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h2,
    h5 {
        text-shadow: 3px 3px 8px rgba(0,0,0,.4);
        line-height: 1.8rem;
    }
}

.why {

    &__col { position: relative; }

    &__card {
        height: 100%;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }
    }

    &__img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        transition: $transition;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    &__text {
        background-color: transparent;
        padding-top: 5rem;
        padding-bottom: 5rem;
        position: relative;
        z-index: 1;

        &::before {
            background-color: rgba(0,0,0,.5);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

.testimonials {

    &__row {
        & img {
            min-width: 300px;
        }
    }
}
