@import './variables';

.intro {

    &__btn {
        border-radius: 5em;
        font-size: 1.1em;
        padding: .5em 1.2em;
    }

    &__carousel {
        
        &-item {
            pointer-events: none;

            &:first-child .intro__caption {
                background-image: url('/images/bg-2.jpg');
            }

            &:last-child .intro__caption {
                background-image: url('/images/bg-1.jpg');
            }
        }
    }

    &__caption {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        padding: 7rem 0rem;
        text-align: center;
        padding-bottom: 15rem;
        padding-top: 18rem;

        @media only screen and (max-width: 400px) {
            padding-top: 8rem;
            padding-bottom: 13rem;
        }

        &:before {
            background-color: rgba(0,0,0,.5);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &-text {
            position: relative;
            z-index: 2;
        }
    }

    h1,h2 {
        font-size: 3.5rem;
        @media only screen and (max-width: 400px) {
            font-size: 13vw;
        }
    }

    &__description {
        font-size: 1.4rem;
    }

    button {
        font-weight: bold;
        text-transform: uppercase;
        pointer-events: all;
        position: relative;
        z-index: 9;
    }
}
