@import './variables';

.intro {

    &__carousel {
        
        &-item {
            pointer-events: none;

            &:first-child .intro__caption {
                background-image: url('/images/bg-2.webp');
            }

            &:last-child .intro__caption {
                background-image: url('/images/bg-1.webp');
            }
        }
    }

    &__caption {
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        padding: 7rem 2rem;
        text-align: center;
        padding-bottom: 10rem;
        padding-top: 13rem;

        &:before {
            background-color: rgba(0,0,0,.2);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &-text {
            position: relative;
            z-index: 2;
        }
    }

    h1 {
        font-size: 3rem;
        text-shadow: 3px 3px 6px rgba(0,0,0,.3);
    }

    &__description {
        font-size: 1.4rem;
    }

    button {
        font-weight: bold;
        text-transform: uppercase;
        pointer-events: all;
        position: relative;
        z-index: 9;
    }
}
