.premium {
    &__img {
        min-height: 500px;
        max-height: 500px;
        object-fit: cover;
        width: 100%;
        position: relative;
        z-index: 1;

        &--bg {
            $blur: 3rem;
            background-size: cover;
            background-position: center;
            content: '';
            filter: blur($blur);
            position: absolute;
            top: -$blur;
            left: -$blur;
            right: -$blur;
            bottom: -$blur;
        }
    }

    &__info {
        opacity: .8;
    }

    &__price {
        &--discount {
            text-decoration: line-through;
            opacity: .8;
        }
    }
}
