.premium {
    &__img {
        min-height: 500px;
        max-height: 500px;
        object-fit: cover;
        width: 100%;
        position: relative;
        z-index: 1;

        &--bg {
            background-size: cover;
            content: '';
            filter: blur(8px);
            -webkit-filter: blur(8px);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__info {
        opacity: .8;
    }

    &__price {
        &--discount {
            text-decoration: line-through;
            opacity: .8;
        }
    }
}
