.premium {
    &__img-wrapper {
        position: relative;
        z-index: 1;
    }
    &__img {
        min-height: 500px;
        max-height: 500px;
        object-fit: cover;
        width: 100%;

        &--bg-blur {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -2;
        }

    }

    &__info {
        opacity: .8;
    }

    &__price {
        &--discount {
            text-decoration: line-through;
            opacity: .8;
        }
    }
}
